.rentDetails {

    .rentDetails_contents {
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $mediaQuery_laptop) {
            flex-direction: column;
        }

        .rentDetails_contents_left {

            .rentTitle {
                color: $color_Kasa;
                font-size: 2.25rem;
                font-weight: 500;
                letter-spacing: 0.5px;

                @media screen and (max-width: $mediaQuery_laptop) {
                    font-size: 1.25rem;
                }
            }

            .rentLocation {
                color: $color_Kasa;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 500;

                @media screen and (max-width: $mediaQuery_laptop) {
                    font-size: 0.9rem;
                }
            }

            .tags {
                display: flex;
                flex-wrap: wrap;

                .tag {
                    min-width: fit-content;
                    background-color: $color_Kasa;
                    color: $color_text_white;
                    padding: 0.5rem 2rem;
                    border-radius: 0.8rem;
                    text-align: center;
                    margin-top: 0.8rem;
                    margin-right: 0.8rem;

                    @media screen and (max-width: $mediaQuery_laptop) {
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .rentDetails_contents_right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: $mediaQuery_laptop) {
                flex-direction: row-reverse;
                margin-top: 1.25rem;
                align-items: center;
            }

            .host {
                display: flex;
                justify-content: right;
                align-items: center;

                .hostName {
                    color: $color_Kasa;
                    text-align: right;
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.60425rem;
                    margin-right: 1rem;

                    @media screen and (max-width: $mediaQuery_laptop) {
                        font-size: 0.9rem;
                    }
                }

                .hostPicture {
                    border-radius: 50%;
                    width: 4rem;
                    height: 4rem;
                }

            }

            .rating {
                width: max-content;

                @media screen and (max-width: $mediaQuery_mobile) {
                    img {
                        width: 1.5rem;
                    }
                }
            }
        }
    }

    .rentDetailsCollapses {
        margin-top: 1.5rem;
        display: flex;
        gap: 4.75rem;

        @media screen and (max-width: $mediaQuery_laptop) {
            flex-direction: column;
            gap: 1.25rem;
        }
    }
}