.banner {
    position: relative;

    .bannerBgHome {
        background-image: url("../imgs/IMG_Banner_Home.jpg");
    }

    .bannerBgAbout {
        background-image: url("../imgs/IMG_Banner_About.jpg");
    }

    .bannerBgHome,
    .bannerBgAbout {
        border-radius: 1.5rem;
        height: 14rem;
        width: 100%;
        background-position: center;
        background-size: cover;
        filter: brightness(70%);
    }

    .titleBanner-container {
        width: max-content;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;

        @media screen and (max-width: $mediaQuery_laptop) {
            flex-direction: column;
            left: 14rem;
        }

        @media screen and (max-width: $mediaQuery_mobile) {
            left: 9rem;
        }

        h2 {
            color: $color_text_white;
            font-size: 3rem;
            font-weight: 400;

            @media screen and (max-width: $mediaQuery_laptop) {
                font-size: 2.5rem;
            }

            @media screen and (max-width: $mediaQuery_mobile) {
                font-size: 1.6rem;

            }
        }
    }

    @media screen and (max-width: $mediaQuery_laptop) {

        .bannerBgHome,
        .bannerBgAbout {
            border-radius: 0.5rem;
            height: 14rem;
        }

        h2 {
            font-size: 1.5rem;
            width: 50%;
        }
    }
}