.slider {
    width: 100%;
    height: 25.9375rem;
    position: relative;
    color: $color_text_white;
    user-select: none;

    @media screen and (max-width: $mediaQuery_laptop) {
        height: 15.9375rem;
    }

    img {
        border-radius: 1.5rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .nbrOfSlides {
        position: absolute;
        left: 50%;
        bottom: 1rem;
        transform: translateX(-50%);
    }

    .slider-arrow-left {
        position: absolute;
        width: fit-content;
        height: 5vw;
        max-height: 5rem;
        min-height: 2rem;
        left: 1.25rem;
        top: 50%;
        transform: rotate(180deg) translateY(50%);
    }

    .slider-arrow-right {
        position: absolute;
        width: fit-content;
        height: 5vw;
        max-height: 5rem;
        min-height: 2rem;
        right: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
    }
}