.notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    color: $color_Kasa;

    margin-top: 8rem;
    margin-bottom: 8rem;


    h1 {
        font-size: 18rem;
        font-family: $Font_text;
    }

    h2 {
        font-family: $Font_text;
        font-size: 2rem;
    }
}