// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// variables fonts
$Font_logo_and_title: 'Shrikhand', serif;
$Font_text: 'Inter', sans-serif;

h1,
h2,
h3,
p {
    font-family: $Font_text;
}